
# dependencies
/node_modules/
/front/node_modules/


# testing
/coverage

# production
/front/build

# misc
config.env
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
